NODE_ENV=development
PORT=3000
MONGO_URI=mongodb://localhost:27017
MONGO_DB_NAME=road_traffic
KAFKA_CLIENT_ID=road-traffic-backend
KAFKA_BROKERS=localhost:9092
KAFKA_TELEMETRY_TOPIC=road.telemetry
KAFKA_INCIDENTS_TOPIC=road.incidents
SIMULATOR_MIN_INTERVAL_MS=2000
SIMULATOR_MAX_INTERVAL_MS=5000
SIMULATOR_INCIDENT_PROBABILITY=0.2
SIMULATOR_MODE=kafka+mongo
SIMULATOR_WRITE_TO_MONGO=true
